
[submodule "source/dc/yukon"]
	path = source/dc/yukon
	url = https://github.com/DCurrent/Yukon
[submodule "source/dc/chronofix"]
	path = source/dc/chronofix
	url = https://github.com/DCurrent/chronofix
[submodule "source/dc/nahoni"]
	path = source/dc/nahoni
	url = https://github.com/DCurrent/nahoni
